.root-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  max-width: 300px;
}

.media {
  height: 300px;
}

.button-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  flex-direction: row;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
