.root-product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding:20px;
}

.card {
  width: 15%;
  min-height: 15%;
  margin:20px;
}

.media {
  margin:5px
}

.button-container {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color: #eeeeee;
}

.card-content {
  min-height: 70px;
  background-color: #eeeeee;

}
