.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #aaaaaa;
}

.categories-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeeeee;
}

.categories-list {
  width: 15%;
  display:flex;
  flex-direction: column;
}

.catalog-container {
  display:flex;
  flex-direction: row;
}

.products-container {
  width: 85%;
}
