.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #aaaaaa;
  flex-direction: column;
  width: 15%;
}


.categories-header {
  position: fixed;
}

.categories-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #eeeeee;
}

.catalog-container {
  display:flex;
  flex-direction: row;
  padding-top: 90px;
}

.products-container {
  width: 85%;
}
