.categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #cccccc;
  width: 15%;
}
.categories-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #aaaaaa;
  width: 15%;
}
