.bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bar-item {
  display: flex;
  flex-grow: 1;
  width: 33%;
  justify-content: center;
}

.bar-item-left {
  align-items: center;
  justify-content: flex-start;
}

.bar-item-right {
  justify-content: flex-end;
  align-items: center;
}

.home-icon {
  font-size: 30px
}
